body {
    font-family: avenirNext, sans-serif;
    /*background-color: #232526;*/
    background-color: #191a1a;
    color: white;
}

h1 {
    font-size: 5.625rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.6rem;
    }

    .header {
        font-weight: 800;
        font-size: 2.5rem;
        height: 100vh;
        border-bottom: 3px solid white;
        padding-top: 120px;
        padding-left: 40px;
    }

    img#headerImage {
        position: absolute;
        left: 10vw;
        z-index: -1;
        padding-top: 30px;
        height: 55vh;
        width: auto;
        bottom: 0;
    }

    .item {
        width: 90%;
        height: 100%;
        margin: 20px auto;
        padding: 10px 0 10px 0;
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header {
        font-weight: 800;
        font-size: 4rem;
        height: 100vh;
        border-bottom: 3px solid white;
        padding-top: 400px;
        padding-left: 40px;
    }

    img#headerImage {
        position: absolute;
        left: 30vw;
        z-index: -1;
        padding-top: 30px;
        height: 70vh;
        width: auto;
        bottom: 0;
    }

    .item {
        width: 80%;
        height: 100%;
        margin: 20px auto;
        padding: 40px 0 40px 0;
        text-align: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header {
        font-weight: 800;
        font-size: 6rem;
        height: 100vh;
        border-bottom: 3px solid white;
        padding-top: 20px;
        padding-left: 40px;
    }

    img#headerImage {
        position: absolute;
        left: 25vw;
        z-index: -1;
        padding-top: 30px;
        height: 70vh;
        width: auto;
        bottom: 0;
    }

    .item {
        width: 70%;
        height: 100%;
        margin: 20px auto;
        padding: 40px 0 40px 0;
        text-align: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        font-weight: 800;
        font-size: 8rem;
        height: 100vh;
        border-bottom: 3px solid white;
        padding-top: 430px;
        padding-left: 40px;
    }

    img#headerImage {
        position: absolute;
        left: 40vw;
        z-index: -1;
        padding-top: 30px;
        height: 85vh;
        width: auto;
        bottom: 0;
    }

    .item {
        width: 60%;
        height: 100%;
        margin: 20px auto;
        padding: 40px 0 40px 0;
        text-align: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header {
        font-weight: 800;
        font-size: 9rem;
        height: 100vh;
        border-bottom: 3px solid white;
        padding-top: 0;
    }

    img#headerImage {
        position: absolute;
        left: 45vw;
        z-index: -1;
        padding-top: 30px;
        height: 90vh;
        width: auto;
        bottom: 0;
    }

    .luzern {
        padding-top: 6.25rem;
        padding-left: 3rem;
    }

    .item {
        width: 50%;
        height: 100%;
        margin: 20px auto;
        padding: 40px 0 40px 0;
        text-align: center;
    }
}

@media only screen and (min-width: 1500px) {
    .header {
        font-weight: 800;
        font-size: 12rem;
        height: 100vh;
        border-bottom: 3px solid white;
        padding-top: 0;
    }

    img#headerImage {
        position: absolute;
        left: 45vw;
        z-index: -1;
        padding-top: 30px;
        height: 90vh;
        width: auto;
        bottom: 0;
    }

    .luzern {
        padding-top: 6.25rem;
        padding-left: 3rem;
    }

    .item {
        width: 50%;
        height: 100%;
        margin: 20px auto;
        padding: 40px 0 40px 0;
        text-align: center;
    }
}

div#header {
    height: 100vh;
}

div#facts {
    height: 100vh;
    text-align: center;
}

.center {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}

div#mapContent {
    height: 100vh;
}

#map {
    width: 100vw;
    height: 70vh;
}

@font-face {
    font-family: "avenirNext";
    src: url("../font/AvenirNext-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "avenirNext";
    src: url("../font/AvenirNext-UltraLight.woff2") format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "avenirNext";
    src: url("../font/AvenirNext-Bold.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "avenirNext";
    src: url("../font/AvenirNext-Heavy.woff2") format('woff2');
    font-weight: 800;
}

